# export all classes
exportClasses(gEventFun, 
              gAddDataMessage, gAddViewMessage, gUpdateDataMessage,
              gUpdateViewMessage, gAddChildMessage, gSendParentMessage,
              gSendChildMessage, gMessage, gModifyMessage, gAddMessage, 
              gUpdateMessage,
              dfModel, gModel,
              MVC, singleModelMVC, linkedModelMVC,
              plotView, sPlotView, spreadView,
              genView, gAskAncestorMessage, qqPlotView)
 
# export all generic functions and methods
# not sure if I need to export all assignment methods (those with '<-')???
exportMethods(callFun, shortName, preprocessFun, 
              from, childUpdateDataMessage, parentUpdateDataMessage,
              childName, type, mData, dataName, handleMessage,
              modelData, modelName, linkData, virtualData,
              updateModel, provideInfo, modelVar,
              model, viewList, controller, parentMVC, childMVCList, 
              win, winNum, plotDevice, plotPar, drArea, dfRows,
              xvar, yvar, clist, motionEvent, clickEvent, 
              identifyView,
              updateView, redrawView, xval, yval,
              "callFun<-", "shortName<-", "preprocessFun<-",
              "from<-", "childUpdateDataMessage<-", 
              "parentUpdateDataMessage<-", "childName<-", "type<-", "mData<-",
              "dataName<-", "modelVar<-",
              "modelData<-", "modelName<-", "linkData<-", "virtualData<-",
              "model<-", "viewList<-", "controller<-", "parentMVC<-",
              "childMVCList<-",  
              "win<-", "winNum<-", "plotDevice<-", "plotPar<-",
              "drArea<-", "dfRows<-", "xvar<-", "yvar<-", "clist<-",
              "xval<-", "yval<-")
